<dt-footer>
  <li><a href="/feed.xml" target="_blank">rss</a></li>
  <li><a href="{{ social.email }}" target="_blank">email</a></li>
  <li><a href="{{ social.github }}" target="_blank">github</a></li>
  <li><a href="{{ social.discord }}" target="_blank">discord</a></li>
</dt-footer>
