<footer>
  <ul>
    <li><a href="/feed.xml" target="_blank">rss</a></li>
    <li><a href="TODO" target="_blank">email</a></li>
    <li><a href="TODO" target="_blank">github</a></li>
    <li><a href="TODO" target="_blank">discord</a></li>
  </ul>
</footer>
