<header>
  <dt-nav>
    <dt-logo slot="icon"></dt-logo>
    <a slot="title" href="/">dependently-typed</a>
    <li><a href="/about">wiki</a></li>
    <li><a href="/blog">blog</a></li>
  </dt-nav>
</header>
