<header>
  <dt-nav>
    <dt-logo slot="icon"></dt-logo>
    <a slot="title" href="/">dependently-typed</a>
    <li><a href="/wiki">wiki</a></li>
    <li><a href="/wiki/schedule">meetings</a></li>
  </dt-nav>
</header>
