---
layout: layouts/default.njk
---

<ul>
{%- for mtg in meetings | reverse -%}
  <li> 
    <h3>{{ mtg.name }}</h3>
    <span class="mono mute">{{ mtg.date }}</span> 
    (
      {%- for name, link in mtg.links -%}
        <a style="padding: 4px;" href="{{ link }}" target="_blank">{{ name }}</a>
      {%- endfor -%}
    )
  </li>
{%- endfor -%}
</ul>
