dt-theme-provider {
  display: grid;
  grid-template-rows: 70px auto 70px;
  min-height: 100vh;
}

main {
  margin: 60px auto;
  max-width: 60rem;
  padding: 0px 40px;
  line-height: 1.5;
}

.post .meta {
  font-size: 14px;
  color: var(--color-gray);
}

.mono {
  font-family: var(--font-mono);
}

.mute {
  color: var(--color-gray);
}
