---
layout: layouts/default.njk
---

<h1>{{ title }}</h1>
<div class="meta">
  <span>by {{ author.name }}</span>
  <span>| Posted on 
    <time datetime="{{ date }}">{{ date | toLocaleString }}</time>
  <span>
  <span>|</span>
  {%- for tag in tags %}
  <a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a>
  {%- endfor %}
</div>


{{ content | safe }}
