<h1> Schedule </h1>

<h2> Spring 2022 </h2>

<p>
  <table class="meeting-times">
    <tbody>
      <tr>
        <td class="meeting"><b>Meeting:</b></td>
        <td>weekly, Tuesday, 6-7pm EST</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td class="hack"><b>Hacking session:</b></td>
        <td>bi-weekly, Thursday, 6-7pm EST</td>
        <td>Discord</td>
      </tr>
    </tbody>
  </table>
</p>

<table class="calendar">
  <thead>
    <tr>
      <td width="10%">Mon</td>
      <td width="25%">Tue</td>
      <td width="10%">Wed</td>
      <td width="25%">Thu</td>
      <td width="10%">Fri</td>
      <td width="10%">Sat</td>
      <td width="10%">Sun</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- week of Jan 10 -->

      <td id="2022-01-10">
        <div class="calgen-date">
          <time datetime="2022-01-10">Jan 10</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-11" class="no-meeting">
        <div class="calgen-date">
          <time datetime="2022-01-11">Jan 11</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-12">
        <div class="calgen-date">
          <time datetime="2022-01-12">Jan 12</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-13">
        <div class="calgen-date">
          <time datetime="2022-01-13">Jan 13</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-14">
        <div class="calgen-date">
          <time datetime="2022-01-14">Jan 14</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-15">
        <div class="calgen-date">
          <time datetime="2022-01-15">Jan 15</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-16">
        <div class="calgen-date">
          <time datetime="2022-01-16">Jan 16</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Jan 17 -->

      <td id="2022-01-17">
        <div class="calgen-date">
          <time datetime="2022-01-17">Jan 17</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-18" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-01-18">Jan 18</time>
        </div>
        <div class="calgen-content">
          <b>Kick-off</b>
          <br>
          <a href="/wiki/meetings/2022-01-18">meeting minutes</a>,
          <a href="/wiki/projects">projects</a>
        </div>
      </td>

      <td id="2022-01-19">
        <div class="calgen-date">
          <time datetime="2022-01-19">Jan 19</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-20" class="hack">
        <div class="calgen-date">
          <time datetime="2022-01-20">Jan 20</time>
        </div>
        <div class="calgen-content">
          Project setup 
        </div>
      </td>

      <td id="2022-01-21">
        <div class="calgen-date">
          <time datetime="2022-01-21">Jan 21</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-22">
        <div class="calgen-date">
          <time datetime="2022-01-22">Jan 22</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-23">
        <div class="calgen-date">
          <time datetime="2022-01-23">Jan 23</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Jan 24 -->

      <td id="2022-01-24">
        <div class="calgen-date">
          <time datetime="2022-01-24">Jan 24</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-25" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-01-25">Jan 25</time>
        </div>
        <div class="calgen-content">
          <b>Awk</b>
          <br>
          <a
            href="https://learnxinyminutes.com/docs/awk/"
            target="_blank"
          >cheatsheet</a>,
          <a
            href="https://www.gnu.org/software/gawk/manual/gawk.html#Part-I_003a-The-awk-Language"
            target="_blank"
          >user guide</a>
        </div>
      </td>

      <td id="2022-01-26">
        <div class="calgen-date">
          <time datetime="2022-01-26">Jan 26</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-27">
        <div class="calgen-date">
          <time datetime="2022-01-27">Jan 27</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-28">
        <div class="calgen-date">
          <time datetime="2022-01-28">Jan 28</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-29">
        <div class="calgen-date">
          <time datetime="2022-01-29">Jan 29</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-01-30">
        <div class="calgen-date">
          <time datetime="2022-01-30">Jan 30</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Jan 31 -->

      <td id="2022-01-31">
        <div class="calgen-date">
          <time datetime="2022-01-31">Jan 31</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-01" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-02-01">Feb 01</time>
        </div>
        <div class="calgen-content">
          <b>Which parsing approach?</b>
          <br>
          <a
            href="https://tratt.net/laurie/blog/entries/which_parsing_approach.html"
            target="_blank"
          >article</a>
        </div>
      </td>

      <td id="2022-02-02">
        <div class="calgen-date">
          <time datetime="2022-02-02">Feb 02</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-03" class="hack">
        <div class="calgen-date">
          <time datetime="2022-02-03">Feb 03</time>
        </div>
        <div class="calgen-content">
          learn-a-lang: 
          <br>
          rust (w/ rustlings)
        </div>
      </td>

      <td id="2022-02-04">
        <div class="calgen-date">
          <time datetime="2022-02-04">Feb 04</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-05">
        <div class="calgen-date">
          <time datetime="2022-02-05">Feb 05</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-06">
        <div class="calgen-date">
          <time datetime="2022-02-06">Feb 06</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Feb 07 -->

      <td id="2022-02-07">
        <div class="calgen-date">
          <time datetime="2022-02-07">Feb 07</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-08" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-02-08">Feb 08</time>
        </div>
        <div class="calgen-content">
          <b>&lambda; calculus</b>
          <br>
          <a
            href="https://www.cs.cornell.edu/courses/cs3110/2008fa/recitations/rec26.html"
            target="_blank"
          >cornell notes</a>
        </div>
      </td>

      <td id="2022-02-09">
        <div class="calgen-date">
          <time datetime="2022-02-09">Feb 09</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-10">
        <div class="calgen-date">
          <time datetime="2022-02-10">Feb 10</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-11">
        <div class="calgen-date">
          <time datetime="2022-02-11">Feb 11</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-12">
        <div class="calgen-date">
          <time datetime="2022-02-12">Feb 12</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-13">
        <div class="calgen-date">
          <time datetime="2022-02-13">Feb 13</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Feb 14 -->

      <td id="2022-02-14">
        <div class="calgen-date">
          <time datetime="2022-02-14">Feb 14</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-15" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-02-15">Feb 15</time>
        </div>
        <div class="calgen-content">
          <b>IconVG</b>
          <br>
          <a
            href="https://github.com/google/iconvg/blob/ccf95637ad9fe8fbb9e949f6f3e9c1beedbb1c0c/spec/iconvg-spec.md"
            target="_blank"
          >spec</a>
        </div>
      </td>

      <td id="2022-02-16">
        <div class="calgen-date">
          <time datetime="2022-02-16">Feb 16</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-17" class="hack">
        <div class="calgen-date">
          <time datetime="2022-02-17">Feb 17</time>
        </div>
        <div class="calgen-content">WebAssembly</div>
      </td>

      <td id="2022-02-18">
        <div class="calgen-date">
          <time datetime="2022-02-18">Feb 18</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-19">
        <div class="calgen-date">
          <time datetime="2022-02-19">Feb 19</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-20">
        <div class="calgen-date">
          <time datetime="2022-02-20">Feb 20</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Feb 21 -->

      <td id="2022-02-21">
        <div class="calgen-date">
          <time datetime="2022-02-21">Feb 21</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-22" class="no-meeting">
        <div class="calgen-date">
          <time datetime="2022-02-22">Feb 22</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-23">
        <div class="calgen-date">
          <time datetime="2022-02-23">Feb 23</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-24">
        <div class="calgen-date">
          <time datetime="2022-02-24">Feb 24</time>
        </div>
        <div class="calgen-content">
          
        </div>
      </td>

      <td id="2022-02-25">
        <div class="calgen-date">
          <time datetime="2022-02-25">Feb 25</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-26">
        <div class="calgen-date">
          <time datetime="2022-02-26">Feb 26</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-02-27">
        <div class="calgen-date">
          <time datetime="2022-02-27">Feb 27</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Feb 28 -->

      <td id="2022-02-28">
        <div class="calgen-date">
          <time datetime="2022-02-28">Feb 28</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-01" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-03-01">Mar 01</time>
        </div>
        <div class="calgen-content">
          <b>WebAssembly Memory</b>
          <br>
          <a
            href="https://radu-matei.com/blog/practical-guide-to-wasm-memory/"
            target="_blank"
          >article</a>
        </div>
      </td>

      <td id="2022-03-02">
        <div class="calgen-date">
          <time datetime="2022-03-02">Mar 02</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-03" class="hack">
        <div class="calgen-date">
          <time datetime="2022-03-03">Mar 03</time>
        </div>
        <div class="calgen-content">
          Prep for gt-langjam
        </div>
      </td>

      <td id="2022-03-04">
        <div class="calgen-date">
          <time datetime="2022-03-04">Mar 04</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-05">
        <div class="calgen-date">
          <time datetime="2022-03-05">Mar 05</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-06">
        <div class="calgen-date">
          <time datetime="2022-03-06">Mar 06</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Mar 07 -->

      <td id="2022-03-07">
        <div class="calgen-date">
          <time datetime="2022-03-07">Mar 07</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-08" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-03-08">Mar 08</time>
        </div>
        <div class="calgen-content">hack-a-lang prep</div>
      </td>

      <td id="2022-03-09">
        <div class="calgen-date">
          <time datetime="2022-03-09">Mar 09</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-10">
        <div class="calgen-date">
          <time datetime="2022-03-10">Mar 10</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-11">
        <div class="calgen-date">
          <time datetime="2022-03-11">Mar 11</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-12" class="event">
        <div class="calgen-date">
          <time datetime="2022-03-12">Mar 12</time>
        </div>
        <div class="calgen-content">hack-a-lang 0001</div>
      </td>

      <td id="2022-03-13">
        <div class="calgen-date">
          <time datetime="2022-03-13">Mar 13</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Mar 14 -->

      <td id="2022-03-14">
        <div class="calgen-date">
          <time datetime="2022-03-14">Mar 14</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-15" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-03-15">Mar 15</time>
        </div>
        <div class="calgen-content">
          <b>Prolog</b>
          <br>
          <a
            href="https://www.swi-prolog.org/"
            target="_blank"
          >swi-prolog</a>,
          <a
            href="https://learnxinyminutes.com/docs/prolog/"
            target="_blank"
          >cheatsheet</a>,
          <a
            href="http://lpn.swi-prolog.org/lpnpage.php?pageid=online"
            target="_blank"
          >Learn Prolog Now!</a>
        </div>
      </td>

      <td id="2022-03-16">
        <div class="calgen-date">
          <time datetime="2022-03-16">Mar 16</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-17" class="no-meeting">
        <div class="calgen-date">
          <time datetime="2022-03-17">Mar 17</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-18">
        <div class="calgen-date">
          <time datetime="2022-03-18">Mar 18</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-19">
        <div class="calgen-date">
          <time datetime="2022-03-19">Mar 19</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-20">
        <div class="calgen-date">
          <time datetime="2022-03-20">Mar 20</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Mar 21 -->

      <td id="2022-03-21" class="holiday">
        <div class="calgen-date">
          <time datetime="2022-03-21">Mar 21</time>
        </div>
        <div class="calgen-content">Spring break</div>
      </td>

      <td id="2022-03-22" class="holiday">
        <div class="calgen-date">
          <time datetime="2022-03-22">Mar 22</time>
        </div>
        <div class="calgen-content">Spring break</div>
      </td>

      <td id="2022-03-23" class="holiday">
        <div class="calgen-date">
          <time datetime="2022-03-23">Mar 23</time>
        </div>
        <div class="calgen-content">Spring break</div>
      </td>

      <td id="2022-03-24" class="holiday">
        <div class="calgen-date">
          <time datetime="2022-03-24">Mar 24</time>
        </div>
        <div class="calgen-content">Spring break</div>
      </td>

      <td id="2022-03-25" class="holiday">
        <div class="calgen-date">
          <time datetime="2022-03-25">Mar 25</time>
        </div>
        <div class="calgen-content">Spring break</div>
      </td>

      <td id="2022-03-26">
        <div class="calgen-date">
          <time datetime="2022-03-26">Mar 26</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-27">
        <div class="calgen-date">
          <time datetime="2022-03-27">Mar 27</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Mar 28 -->

      <td id="2022-03-28">
        <div class="calgen-date">
          <time datetime="2022-03-28">Mar 28</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-29" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-03-29">Mar 29</time>
        </div>
        <div class="calgen-content">
          <b>Memory models (Russ Cox)</b>
          <br>
          <a
            href="https://research.swtch.com/hwmm"
            target="_blank"
          >part 1<a/>,
          <a
            href="https://research.swtch.com/plmm"
            target="_blank"
          >part 2</a>
        </div>
      </td>

      <td id="2022-03-30">
        <div class="calgen-date">
          <time datetime="2022-03-30">Mar 30</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-03-31" class="hack">
        <div class="calgen-date">
          <time datetime="2022-03-31">Mar 31</time>
        </div>
        <div class="calgen-content">
          learn-a-lang:
          <br>
          OCaml
        </div>
      </td>

      <td id="2022-04-01">
        <div class="calgen-date">
          <time datetime="2022-04-01">Apr 01</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-02">
        <div class="calgen-date">
          <time datetime="2022-04-02">Apr 02</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-03">
        <div class="calgen-date">
          <time datetime="2022-04-03">Apr 03</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Apr 04 -->

      <td id="2022-04-04">
        <div class="calgen-date">
          <time datetime="2022-04-04">Apr 04</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-05" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-04-05">Apr 05</time>
        </div>
        <div class="calgen-content">
          <b>Retrofitting parallelism onto OCaml</b>
          <br>
          <a
            href="https://anil.recoil.org/papers/2020-icfp-retropar.pdf"
            target="_blank"
          >paper</a>
        </div>
      </td>

      <td id="2022-04-06">
        <div class="calgen-date">
          <time datetime="2022-04-06">Apr 06</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-07">
        <div class="calgen-date">
          <time datetime="2022-04-07">Apr 07</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-08">
        <div class="calgen-date">
          <time datetime="2022-04-08">Apr 08</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-09">
        <div class="calgen-date">
          <time datetime="2022-04-09">Apr 09</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-10">
        <div class="calgen-date">
          <time datetime="2022-04-10">Apr 10</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Apr 11 -->

      <td id="2022-04-11">
        <div class="calgen-date">
          <time datetime="2022-04-11">Apr 11</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-12" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-04-12">Apr 12</time>
        </div>
        <div class="calgen-content">
          <b>Guest Lecture</b>
          <br>
          Speaker: TBD
        </div>
      </td>

      <td id="2022-04-13">
        <div class="calgen-date">
          <time datetime="2022-04-13">Apr 13</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-14" class="hack">
        <div class="calgen-date">
          <time datetime="2022-04-14">Apr 14</time>
        </div>
        <div class="calgen-content">Get started with React</div>
      </td>

      <td id="2022-04-15">
        <div class="calgen-date">
          <time datetime="2022-04-15">Apr 15</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-16">
        <div class="calgen-date">
          <time datetime="2022-04-16">Apr 16</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-17">
        <div class="calgen-date">
          <time datetime="2022-04-17">Apr 17</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Apr 18 -->

      <td id="2022-04-18">
        <div class="calgen-date">
          <time datetime="2022-04-18">Apr 18</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-19" class="meeting">
        <div class="calgen-date">
          <time datetime="2022-04-19">Apr 19</time>
        </div>
        <div class="calgen-content">
          <b>Build your own React</b>
          <br>
          <a
            href="https://pomb.us/build-your-own-react/"
            target="_blank"
          >article</a>,
          <a
            href="https://reactjs.org/docs/faq-internals.html"
            target="_blank"
          >React FAQ</a>
        </div>
      </td>

      <td id="2022-04-20">
        <div class="calgen-date">
          <time datetime="2022-04-20">Apr 20</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-21">
        <div class="calgen-date">
          <time datetime="2022-04-21">Apr 21</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-22">
        <div class="calgen-date">
          <time datetime="2022-04-22">Apr 22</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-23">
        <div class="calgen-date">
          <time datetime="2022-04-23">Apr 23</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-24">
        <div class="calgen-date">
          <time datetime="2022-04-24">Apr 24</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>

    <tr>
      <!-- week of Apr 25 -->

      <td id="2022-04-25">
        <div class="calgen-date">
          <time datetime="2022-04-25">Apr 25</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-26" class="no-meeting">
        <div class="calgen-date">
          <time datetime="2022-04-26">Apr 26</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-27">
        <div class="calgen-date">
          <time datetime="2022-04-27">Apr 27</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-28" class="no-meeting">
        <div class="calgen-date">
          <time datetime="2022-04-28">Apr 28</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-29">
        <div class="calgen-date">
          <time datetime="2022-04-29">Apr 29</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-04-30">
        <div class="calgen-date">
          <time datetime="2022-04-30">Apr 30</time>
        </div>
        <div class="calgen-content"></div>
      </td>

      <td id="2022-05-01">
        <div class="calgen-date">
          <time datetime="2022-05-01">May 01</time>
        </div>
        <div class="calgen-content"></div>
      </td>
    </tr>
  </tbody>
</table>

